apiVersion: v1
kind: Service
metadata:
  name: shipping-service
spec:
  selector:
    app: shipping
  ports:
    - protocol: TCP
      port: 50052      
      targetPort: 50052 
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: shipping-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shipping
  template:
    metadata:
      labels:
        app: shipping
    spec:
      containers:
      - name: shipping
        image: shipping:latest 
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 50052
        env:
          - name: APPLICATION_PORT
            value: "50052"
          - name: ENV
            value: "prod"